body{
    background-color: #FEF9F9;
}



.img_background :focus {
    border: 1px solid var(--unnamed, #54ADFF);
    outline: none; /* Видаляємо стандартний контур фокусу, особливо для кнопки */
    color: black;
}

/* Main */

.img_background{
    background-image: url("../images/bg.png");
    height: 770px;
    display: flex;
    justify-content: center;
}

.add__pet__main__form{
    margin-top: 40px;
    padding: 20px 32px;
    width: 394px;
    height: 502px;
    border-radius: 40px;
    background: var(--unnamed, #FFF);   
    box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);
}

h4{
    color: var(--unnamed, #111);
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.steps{
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

.choose__option{
    color: var(--unnamed, #54ADFF);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.5px; /* 165.625% */
}

.personal__details{
    color: var(--c, #888);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.5px; /* 165.625% */
}

.more__info{
    color: var(--c, #888);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.5px; /* 165.625% */
}

.current__step{
    width: 120px;
    height: 8px;
    border-radius: 8px;
    background: var(--unnamed, #54ADFF);
    border-top: 0px;
    margin: 12px 0 0 0;
}

.next__step{
    width: 120px;
    height: 8px;
    border-radius: 8px;
    background: var(--blue-light, #CCE4FB);
    border-top: 0px;
    margin: 12px 0 0 0;
}

.chose__type{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 40px;
}

input[type="radio"] {
    appearance: none;
    position: absolute;
}

.radio__btn__div{
    position: relative;
    height: 35px;
}

.radio__btn{
    position: absolute;
    display: flex;
    height: 19px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: var(--blue-light, #CCE4FB);
    flex-grow: 1;
    width: 114px;
    color: var(--unnamed, #54ADFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.56px;
}

.btn__div{
    margin-top: 137px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.cancel__btn a{
    display: flex;
    gap: 12px;
    color: var(--unnamed, #54ADFF);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
}

.btn__defold{
    border: 0;
    background-color: transparent;
}

.next__btn{
    display: flex;
    gap: 12px;
    width: 248px;
    height: 40px;
    padding: 8px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: var(--unnamed, #54ADFF);
    color: var(--unnamed, #FEF9F9);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
}

.radio__btn__div.active label  {
    background: var(--unnamed, #54ADFF);
    color: var(--unnamed, #FEF9F9);
}

.next__step__color{
    color: var(--c, #888);
}

.current__step__color{
    color: var(--unnamed, #54ADFF);
}

.pass__step__color{
    color: var(--green, #00C3AD);
}



@media (max-width: 764px) {
    .add__pet__main__form{
        margin-top: 40px;
        padding: 20px 8px;
        width: 264px;
        height: 460px;
    }

    h4{
        font-size: 20px;
        font-weight: 500;
        margin-left: 12px;
        align-self: flex-start;
    }
    
    .steps{
        gap: 12px;
    }

    .current__step__color{
        font-size: 10px;
        font-weight: 500;
        line-height: normal;
    }

    .next__step__color{
        font-size: 10px;
        font-weight: 500;
        line-height: normal;
    }

    .pass__step__color{
        font-size: 10px;
        font-weight: 500;
        line-height: normal;
    }

    .current__step{
        width: 80px;
    }
    .pass__step{
        width: 80px;
    }
    .next__step{
        width: 80px;
    }

    .chose__type {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 24px;
    }

    .btn__div{
        flex-direction: column;
        gap: 21px;
        margin-top: 91px;
    }
    
    .cancel__btn{
        order: 1;
    }
}






@media (max-width: 1280px) {
    .img_background{
        background-image: url("../images/bg-2.png");
        gap: 8px;
    }

}


@media (max-width: 764px) {
    .img_background{
        background-image: url("../images/bg-3.png");
        gap: 10px;
    }

}


.not__active__el{
    display: none;
}